.tag-style-hot{border-color:#ed4040!important;color:#ed4040!important}
.tag-style-video{border-color:#ff7920!important;color:#ff7920!important}
.tag-style-image{border-color:#ffae02!important;color:#ffae02!important}
.tag-style-society{border-color:#41baad!important;color:#41baad!important}
.tag-style-car{border-color:#539db8!important;color:#539db8!important}
.tag-style-sport{border-color:#55c167!important;color:#55c167!important}
.tag-style-finance{border-color:#b5743a!important;color:#b5743a!important}
.tag-style-technology{border-color:#60a3f5!important;color:#60a3f5!important}
.tag-style-entertainment{border-color:#b46aff!important;color:#b46aff!important}
.tag-style-other{border-color:#87a5b5!important;color:#87a5b5!important}