.container {
    margin: 0;
    padding: 0;
    width: 640px;
    height: 240px;
    overflow: hidden;
}

.container .inner {
    overflow: scroll;
    transition: transform 1.5s ease;
    transform: translateX(-10%);
}

.container .inner img {
    display: block;
    height: 240px;
    float: left;
}